.col-sm-3.col-xs-6
  .item-box.text-center
    %p.item-title Meat

    .item-image.center-block
      %img.img-responsive.img-rounded.center-block(src='/stock_item.jpg')

    %p.item-description A prime grass-fed filet served with a garlic & parmesan mash.

    %p
      %span.item-price $9.99

    %form.form-inline.item-checkout
      %input.btn.btn-default.add-to-cart-button(type='submit' value='Add to cart')
