.col-sm-3.col-xs-6
  .product-container.text-center
    %p.product-title Meat

    .product-image.center-block
      %img.img-responsive.img-rounded.center-block(src='/stock_item.jpg')

    %p.product-description A prime grass-fed filet served with a garlic & parmesan mash.

    %p
      %span.product-price $9.99

    %form.form-inline.product-checkout
      %input.btn.btn-default.add-to-cart-button(type='submit' value='Add to cart')
