.col-sm-3.col-xs-6
  .product-container.text-center
    %p.product-title= product.title

    .product-image.center-block
      %img.img-responsive.img-rounded.center-block(src='/stock_item.jpg')

    %p.product-description= product.description

    %p
      %span.product-price= print_price(product.price)

    %form.form-inline.product-checkout
      %input.btn.btn-default.add-to-cart-button(type='submit' value='Add to cart')

    = link_to "Edit", edit_product_path(product)
