.container-fluid
  .jumbotron
    %h1.text-center First Bite
    %ul.admin-nav
      %li= link_to 'Add New Product', new_product_path
    %ul.category-nav
      %li= button_to 'All', products_path, class: 'btn btn-default', method: :get
      - Category.all.each do |category|
        %li= button_to category.title, category_path(category), class: 'btn btn-default', method: :get
  .products-containter
    - @products.each do |product|
      = render 'products/product', product: product
